{% load static %}

<div class="col-lg-4">
    <!-- Card -->
    <div class="card card-cascade narrower mb-5">

        <!-- Card image -->
        <div class="view view-cascade gradient-card-header blue-gradient">
            <h4 class="font-weight-500 mb-0">All Keyword</h4>
        </div>
        <!-- /Card image -->

        <!-- Card content -->
        <div class="card-body card-body-cascade">
            <fieldset class="form-check mb-4">
                <input class="form-check-input" type="checkbox"
                       id="keyword-1">
                <label class="form-check-label" for="keyword-1">
                    Material Design
                </label>
                <span class="badge bg-primary float-right">14</span>
            </fieldset>
            <fieldset class="form-check mb-4">
                <input class="form-check-input" type="checkbox"
                       id="keyword-2">
                <label class="form-check-label" for="keyword-2">
                    Android
                </label>
                <span class="badge bg-primary float-right">14</span>
            </fieldset>
        </div>
        <!-- /Card content -->

    </div>
    <!-- /Card -->

    <!-- Card -->
    <div class="card card-cascade narrower mb-5">

        <!-- Card image -->
        <div class="view view-cascade gradient-card-header blue-gradient">
            <h4 class="font-weight-500 mb-0">All Country</h4>
        </div>
        <!-- /Card image -->

        <!-- Card content -->
        <div class="card-body card-body-cascade">
            <fieldset class="form-check mb-4">
                <input class="form-check-input" type="checkbox"
                       id="country-1">
                <label class="form-check-label" for="country-1">
                    Bangladesh
                </label>
                <span class="badge bg-primary float-right">14</span>
            </fieldset>
            <fieldset class="form-check mb-4">
                <input class="form-check-input" type="checkbox"
                       id="country-2">
                <label class="form-check-label" for="country-2">
                    UAE
                </label>
                <span class="badge bg-primary float-right">14</span>
            </fieldset>
        </div>
        <!-- /Card content -->

    </div>
    <!-- /Card -->

    <!-- Card -->
    <div class="card card-cascade narrower mb-5">

        <!-- Card image -->
        <div class="view view-cascade gradient-card-header blue-gradient">
            <h4 class="font-weight-500 mb-0">All User</h4>
        </div>
        <!-- /Card image -->

        <!-- Card content -->
        <div class="card-body card-body-cascade">
            <fieldset class="form-check mb-4">
                <input class="form-check-input" type="checkbox"
                       id="user-1">
                <label class="form-check-label" for="user-1">
                    Naim
                </label>
                <span class="badge bg-primary float-right">14</span>
            </fieldset>
            <fieldset class="form-check mb-4">
                <input class="form-check-input" type="checkbox"
                       id="user-2">
                <label class="form-check-label" for="user-2">
                    Fahim
                </label>
                <span class="badge bg-primary float-right">14</span>
            </fieldset>
        </div>
        <!-- /Card content -->

    </div>
    <!-- /Card -->

    <!-- Card -->
    <div class="card card-cascade narrower mb-5">

        <!-- Card image -->
        <div class="view view-cascade gradient-card-header blue-gradient">
            <h4 class="font-weight-500 mb-0">Time Range</h4>
        </div>
        <!-- Card image -->

        <!-- Card content -->
        <div class="card-body card-body-cascade">
            <fieldset class="form-check mb-4">
                <input class="form-check-input" type="checkbox"
                       id="today">
                <label class="form-check-label" for="today">
                    Today
                </label>
                <span class="badge bg-primary float-right">14</span>
            </fieldset>
            <fieldset class="form-check mb-4">
                <input class="form-check-input" type="checkbox"
                       id="yesterday">
                <label class="form-check-label"
                       for="yesterday">
                    Tutorials</label>
                <span class="badge bg-primary float-right">14</span>
            </fieldset>
            <fieldset class="form-check mb-4">
                <input class="form-check-input" type="checkbox"
                       id="last_7_days">
                <label class="form-check-label"
                       for="last_7_days">
                    Tutorials</label>
                <span class="badge bg-primary float-right">14</span>
            </fieldset>
            <fieldset class="form-check mb-4">
                <input class="form-check-input" type="checkbox"
                       id="last_30_days">
                <label class="form-check-label"
                       for="last_30_days">
                    Tutorials</label>
                <span class="badge bg-primary float-right">14</span>
            </fieldset>
            <fieldset class="form-check mb-4">
                <input class="form-check-input" type="checkbox"
                       id="last_week">
                <label class="form-check-label"
                       for="last_week">
                    Tutorials</label>
                <span class="badge bg-primary float-right">14</span>
            </fieldset>
            <fieldset class="form-check mb-4">
                <input class="form-check-input" type="checkbox"
                       id="last_month">
                <label class="form-check-label"
                       for="last_month">
                    Tutorials</label>
                <span class="badge bg-primary float-right">14</span>
            </fieldset>
        </div>
        <!-- Card content -->

    </div>
    <!-- /Card -->


    <!-- Card -->
    <div class="card card-cascade narrower mb-5">

        <!-- Card image -->
        <div class="view view-cascade gradient-card-header blue-gradient">
            <h4 class="font-weight-500 mb-0">Select Date</h4>
        </div>
        <!-- Card image -->

        <!-- Card content -->
        <div class="card-body card-body-cascade">
            <div class="col-md-6">
                <div class="md-form">
                    <input placeholder="Select start date"
                           type="text" id="from"
                           class="form-control datepicker">
                    <label for="from">From</label>
                </div>
                <div class="md-form">
                    <input placeholder="Select end date"
                           type="text" id="to"
                           class="form-control datepicker">
                    <label for="to">To</label>
                </div>

            </div>
        </div>
        <!-- Card content -->

    </div>
    <!-- /Card -->

</div>