{% load static %}
<div class="col-lg-8 mx-auto h-100 white z-depth-1 pr-0">
    <div style="margin-top: -20px;"
         class="view view-cascade
                     gradient-card-header purple-gradient narrower py-3 mx-4
                     mb-3 d-flex justify-content-center align-items-center">
        <a class="white-text mx-3 font-weight-500"
           style="font-size: 25px; text-align: center;">User
            Search History</a>

    </div>
    <div class="row">
        <div class="col-sm-6 col-md-9 py-4 px-3">
            <h5 class="h5-responsive" id="total_row">
                Total Search{{ search_history.count|pluralize:'es' }}
                ({{ search_history.count }})
            </h5>
        </div>
    </div>

    <div class="row">

        <div class="col-md-12 pb-3">

            <div class="table-responsive">
                <table class="table" id="searches_table">
                    <thead>
                    <tr>
                        <th class="font-weight-bold">User</th>
                        <th class="font-weight-bold">Keyword</th>
                        <th class="font-weight-bold">Time</th>
                        <th class="font-weight-bold">Date</th>
                        <th class="font-weight-bold">User IP</th>
                        <th class="font-weight-bold">Browser</th>
                        <th class="font-weight-bold">City</th>
                        <th class="font-weight-bold">Country</th>
                    </tr>
                    </thead>
                    <tbody id="search_items">
                    <tr style="text-align: center;">
                        <td colspan="7" id="ajax_loader" style="font-size:
                        20px;
                        text-align:
                         center;
                        width: 100%">Loading...
                        </td>

                    </tr>
                    {% for search_item in search_history %}
                        <tr>
                            <th scope="row">{{ search_item.user }}</th>
                            <td>{{ search_item.searched_keyword }}</td>
                            <td>{{ search_item.search_time|time }}</td>
                            <td>{{ search_item.search_time|date }}</td>
                            <td>{{ search_item.user_ip_address }}</td>
                            <td>{{ search_item.user_browser }}</td>
                            <td>{{ search_item.city }}</td>
                            <td>{{ search_item.country }}</td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
            <!-- Pagination -->
            <nav>
                <ul class="pagination pg-purple">
                    <!-- Arrow left -->
                    <li class="page-item">
                        <a class="page-link"
                           aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>

                    <!-- Numbers -->
                    <li class="page-item active"><a
                            class="page-link">1</a></li>
                    <li class="page-item"><a class="page-link">2</a>
                    </li>
                    <li class="page-item"><a class="page-link">3</a>
                    </li>
                    <li class="page-item"><a class="page-link">4</a>
                    </li>
                    <li class="page-item"><a class="page-link">5</a>
                    </li>

                    <!-- Arrow right -->
                    <li class="page-item">
                        <a class="page-link" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- /Pagination -->

        </div>
    </div>

</div>