{% load static %}
<!-- JQuery -->
<script src="{% static 'search_history/js/jquery-3.4.1.min.js' %}"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript"
        src="{% static 'search_history/js/popper.min.js' %}"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript"
        src="{% static 'search_history/js/bootstrap.js' %}"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript"
        src="{% static 'search_history/js/mdb.min.js' %}"></script>

<!-- Custom scripts -->
<script type="text/javascript"
                               src="
{% static 'search_history/js/filter_search.js' %}"></script>


<script>

    // Data Picker Initialization
    $('.datepicker').pickadate();


</script>
